<a href="https://colab.research.google.com/github/gmazzitelli/GSN2/blob/master/MissioniDotazioni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**per poter essere lle il file in questo modo deve essere un google speradsheet**

quindi:
1. esportare i dati delle missioni come file excell
2. copiare ed incollare il file missioni nel tab dell'anno relativo sul google spreedsheet
3. selezionare nell'apertura del file il tab opportuno

In [1]:
import numpy as np
import pandas as pd
key = "1l-nUkzMRyt4gte4nkMcoBBzDZElnOIeBsGA8zIOVP_E" # foglio missioni
key = "1puUfSofNzvDKDYycQBy0NiKtWcMQSW9iwUDp_GtSXBk" # consuntivo 2019 - ricordarsi di salvare il file come google spreedsheet prima di copiare la chiave


def load_from_gspreadsheet(key, sheet_name):
    # google spredsheet TO url 
    # url = "https://docs.google.com/spreadsheet/ccc?key="+key+"&output=csv&sheet={Sheet2}"
    url = 'https://docs.google.com/spreadsheets/d/{key}/gviz/tq?tqx=out:csv&sheet={sheet_name}&headers=1'.format(
        key=key, sheet_name=sheet_name.replace(' ', '%20'))
    print(url)
    return url
def sp2pd(key, sheet_name, verbose=False):
    # spreadsheet TO Panda
    import pandas as pd
    df = pd.read_csv(load_from_gspreadsheet(key, sheet_name))
    # df = df[df.File_Number.isnull() == False]
    df.fillna('', inplace=True)
    if verbose: print ('Variables: ', df.columns.values)
    return df
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
plt.style.use('fast')
plt.rc('font', size = 14, family ='Sans-Serif')

In [23]:
anno = '2019'
df = sp2pd(key='1l-nUkzMRyt4gte4nkMcoBBzDZElnOIeBsGA8zIOVP_E', sheet_name=anno)
DOTAZIONE = sp2pd(key='1l-nUkzMRyt4gte4nkMcoBBzDZElnOIeBsGA8zIOVP_E', sheet_name='DOTAZIONE')

https://docs.google.com/spreadsheets/d/1l-nUkzMRyt4gte4nkMcoBBzDZElnOIeBsGA8zIOVP_E/gviz/tq?tqx=out:csv&sheet=2019&headers=1
https://docs.google.com/spreadsheets/d/1l-nUkzMRyt4gte4nkMcoBBzDZElnOIeBsGA8zIOVP_E/gviz/tq?tqx=out:csv&sheet=DOTAZIONE&headers=1

In [20]:
assegnazione = df[df.Doc=="Stanziamento iniziale (assegnazioni)"].Totale.str.replace('.', '').str.replace(',', '.').astype(float).sum()
speso = df[(df.Doc!="Stanziamento iniziale (assegnazioni)")].Totale.str.replace('.', '').str.replace(',', '.').astype(float).sum()
print ("Assegnato = ", assegnazione, "Speso = ", speso, "Disponibile = ", assegnazione-speso)
SpesoT=0.

Assegnato =  34000.0 Speso =  30812.000000000004 Disponibile =  3187.9999999999964

In [29]:
DOTAZIONE

    anno   esperimento  importo totale
0   2019           DTZ     8500
1   2019           KM3     3500
2   2019      DARKSIDE     5000
3   2019       JemEUSO    15000
4   2019  LIMADOU_CSN2     2000  34000
5   2020           DTZ    12000
6   2020           KM3     3000
7   2020      DARKSIDE        0  15000
8   2021           DTZ    10000
9   2021           KM3     2500
10  2021      DARKSIDE     1000  13500

In [34]:
DOTAZIONE.anno.values==int(anno)

array([ True,  True,  True,  True,  True, False, False, False, False,
       False, False])

In [41]:
DOTAZIONE[(DOTAZIONE.anno.values==int(anno)) & (DOTAZIONE.esperimento=='DTZ')].importo.values[0]

8500

In [21]:
df = df.drop(df.index[0])
df.Intestatario.value_counts()

RICCI MARCO                   38
NAPOLITANO TOMMASO            18
FRANCESCHI MASSIMO ALBERTO    11
MAZZITELLI GIOVANNI            7
PAOLONI ALESSANDRO             6
MODESTINO GIUSEPPINA           3
MARTINI AGNESE                 3
Votano Lucia                   2
Capone Antonio                 2
ORECCHINI DARIO                2
DE PAOLIS ALBERTO              2
DI GIOVANNI GIANNI             2
LIGI CARLO                     2
ANGELONI FABRIZIO              2
MENGUCCI ALESSANDRO            1
ROSATELLI FILIPPO              1
DELL'AGNELLO SIMONE            1
Name: Intestatario, dtype: int64

In [44]:
Darkside = DOTAZIONE[(DOTAZIONE.anno.values==int(anno)) & (DOTAZIONE.esperimento=='DARKSIDE')].importo.values[0]
assegnato = Darkside
user1 = (df.Intestatario=="NAPOLITANO TOMMASO") ^ (df.Intestatario=="FRANCESCHI MASSIMO ALBERTO")
speso = df[user1].Totale.str.replace('.', '').str.replace(',', '.').astype(float).sum()
print ("Speso Missioni = ",  speso, "Assegnato = ", assegnato, "Rimanete = ", assegnato-speso)
SpesoT+=speso
df[user1]

Speso Missioni =  3752.33 Assegnato =  5000 Rimanete =  1247.67

           Data      Tipo    Num  ...  Iniziale  Variaz.    Totale
4                Missioni  29267  ...    183,29     0,00    183,29
5                Missioni  29273  ...    198,00     0,00    198,00
7                Missioni  29368  ...    494,55     0,00    494,55
8    05/02/2019  Missioni  29431  ...    499,00     0,00    499,00
12   11/03/2019  Missioni  29677  ...    351,60     0,00    351,60
13   11/03/2019  Missioni  29678  ...    176,60     0,00    176,60
14   11/03/2019  Missioni  29683  ...    376,00     0,00    376,00
15   11/03/2019  Missioni  29684  ...    200,00     0,00    200,00
18   10/04/2019  Missioni  29927  ...  1.105,89     0,00  1.105,89
25               Missioni  30278  ...    289,00     0,00    289,00
30   09/07/2019  Missioni  30636  ...     54,20     0,00     54,20
33               Missioni  30687  ...     26,00     0,00     26,00
41   04/09/2019  Missioni  30905  ...    186,69     0,00    186,69
42   04/09/2019  Missioni  30906  ...    200,00     0,00    200,00
51   03/10/2019  Missioni  31239  ...    580,00     0,00    580,00
59               Missioni  29267  ...      0,00   -23,00    -23,00
60               Missioni  29273  ...      0,00   -21,50    -21,50
62               Missioni  29368  ...      0,00  -332,05   -332,05
63   05/02/2019  Missioni  29431  ...      0,00   -91,80    -91,80
67   11/03/2019  Missioni  29677  ...      0,00   -30,00    -30,00
68   11/03/2019  Missioni  29678  ...      0,00   -57,00    -57,00
69   11/03/2019  Missioni  29683  ...      0,00   -30,20    -30,20
70   11/03/2019  Missioni  29684  ...      0,00   -53,80    -53,80
73   10/04/2019  Missioni  29927  ...      0,00  -124,90   -124,90
78               Missioni  30278  ...      0,00  -266,44   -266,44
85               Missioni  30687  ...      0,00   -18,00    -18,00
93   04/09/2019  Missioni  30905  ...      0,00   -26,40    -26,40
94   04/09/2019  Missioni  30906  ...      0,00   -26,20    -26,20
102  03/10/2019  Missioni  31239  ...      0,00   -67,20    -67,20

[29 rows x 11 columns]

In [45]:
KM3 = DOTAZIONE[(DOTAZIONE.anno.values==int(anno)) & (DOTAZIONE.esperimento=='KM3')].importo.values[0]
assegnato = KM3
user2 = (df.Intestatario=="MARTINI AGNESE") ^ (df.Intestatario=="Capone Antonio")
speso = df[user2].Totale.str.replace('.', '').str.replace(',', '.').astype(float).sum()
print ("Speso Missioni = ",  speso, "Assegnato = ", assegnato, "Rimanete = ", assegnato-speso)
SpesoT+=speso
df[user2]

Speso Missioni =  2714.23 Assegnato =  3500 Rimanete =  785.77

          Data      Tipo    Num  ...  Iniziale Variaz.    Totale
1               Missioni  29001  ...      7,65    0,00      7,65
29  08/07/2019  Missioni  30624  ...  1.470,00    0,00  1.470,00
32  11/07/2019  Missioni  30667  ...  1.188,00    0,00  1.188,00
82  08/07/2019  Missioni  30624  ...      0,00  -15,26    -15,26
84  11/07/2019  Missioni  30667  ...      0,00   63,84     63,84

[5 rows x 11 columns]

In [46]:
DTZ = DOTAZIONE[(DOTAZIONE.anno.values==int(anno)) & (DOTAZIONE.esperimento=='DTZ')].importo.values[0]
assegnato = DTZ
user3 = np.invert(user0 ^ user1 ^ user2)
speso = df[user3].Totale.str.replace('.', '').str.replace(',', '.').astype(float).sum()
print ("Speso Missioni = ",  speso, "Assegnato = ", assegnato, "Rimanete = ", assegnato-speso)
SpesoT+=speso
df[user3]

Speso Missioni =  40449.7 Assegnato =  8500 Rimanete =  -31949.699999999997

           Data      Tipo    Num  ...  Iniziale  Variaz.     Totale
0    07/01/2019                   ...      0,00     0,00  34.000,00
11   07/03/2019  Missioni  29660  ...    680,00     0,00     680,00
19               Missioni  30035  ...    527,79     0,00     527,79
22               Missioni  30154  ...  1.000,00     0,00   1.000,00
23               Missioni  30197  ...    500,00     0,00     500,00
31   10/07/2019  Missioni  30652  ...    215,00     0,00     215,00
34               Missioni  30688  ...    154,67     0,00     154,67
35   10/08/2019  Missioni  30813  ...    350,00     0,00     350,00
36   10/08/2019  Missioni  30814  ...    600,00     0,00     600,00
37   12/08/2019  Missioni  30815  ...    500,00     0,00     500,00
38               Missioni  30834  ...  1.170,00     0,00   1.170,00
43   04/09/2019  Missioni  30911  ...    600,00     0,00     600,00
45   11/09/2019  Missioni  30982  ...    168,37     0,00     168,37
49   02/10/2019  Missioni  31214  ...    354,91     0,00     354,91
50   02/10/2019  Missioni  31226  ...    178,00     0,00     178,00
52   03/10/2019  Missioni  31240  ...    300,00     0,00     300,00
53               Missioni  31387  ...    530,00     0,00     530,00
54               Missioni  31395  ...    340,00     0,00     340,00
66   07/03/2019  Missioni  29660  ...      0,00  -506,70    -506,70
76               Missioni  30154  ...      0,00   -43,01     -43,01
83   10/07/2019  Missioni  30652  ...      0,00    64,40      64,40
86               Missioni  30688  ...      0,00     2,75       2,75
87   10/08/2019  Missioni  30813  ...      0,00    50,00      50,00
88   10/08/2019  Missioni  30814  ...      0,00  -231,10    -231,10
89   12/08/2019  Missioni  30815  ...      0,00  -352,50    -352,50
90               Missioni  30834  ...      0,00   -59,40     -59,40
95   04/09/2019  Missioni  30911  ...      0,00   -39,00     -39,00
97   11/09/2019  Missioni  30982  ...      0,00  -168,37    -168,37
101  02/10/2019  Missioni  31214  ...      0,00  -354,91    -354,91
103  03/10/2019  Missioni  31240  ...      0,00   -81,20     -81,20

[30 rows x 11 columns]

In [47]:
print ("Assegnato = ", DTZ+KM3+Darkside+Limadou+JemEUSO, "Speso = ", SpesoT, "Disponibile = ", DTZ+KM3+Darkside+Limadou+JemEUSO-SpesoT)

Assegnato =  34000 Speso =  85421.97 Disponibile =  -51421.97

In [43]:
Limadou = DOTAZIONE[(DOTAZIONE.anno.values==int(anno)) & (DOTAZIONE.esperimento=='LIMADOU_CSN2')].importo.values[0]
JemEUSO = DOTAZIONE[(DOTAZIONE.anno.values==int(anno)) & (DOTAZIONE.esperimento=='JemEUSO')].importo.values[0]
assegnato = Limadou+JemEUSO
user0 = (df.Intestatario=="RICCI MARCO") ^ (df.Intestatario=="DE PAOLIS ALBERTO")
speso = df[user0].Totale.str.replace('.', '').str.replace(',', '.').astype(float).sum()
print ("Speso Missioni = ",  speso, "Assegnato = ", assegnato, "Rimanete = ", assegnato-speso)
SpesoT+=speso
df[user0]

Speso Missioni =  17895.739999999998 Assegnato =  17000 Rimanete =  -895.739999999998

           Data      Tipo    Num  ...  Iniziale Variaz.    Totale
2    07/01/2019  Missioni  29181  ...    218,80    0,00    218,80
3    08/01/2019  Missioni  29209  ...    770,70    0,00    770,70
6                Missioni  29322  ...    475,70    0,00    475,70
9                Missioni  29560  ...     39,30    0,00     39,30
10               Missioni  29603  ...     67,90    0,00     67,90
16               Missioni  29805  ...     18,00    0,00     18,00
17   03/04/2019  Missioni  29882  ...    365,95    0,00    365,95
20               Missioni  30045  ...     19,30    0,00     19,30
21               Missioni  30146  ...  1.434,20    0,00  1.434,20
24               Missioni  30277  ...    273,39    0,00    273,39
26   02/06/2019  Missioni  30311  ...     19,30    0,00     19,30
27   12/06/2019  Missioni  30416  ...    105,80    0,00    105,80
28               Missioni  30472  ...  5.170,44    0,00  5.170,44
39               Missioni  30861  ...     20,50    0,00     20,50
40   03/09/2019  Missioni  30892  ...     15,00    0,00     15,00
44   05/09/2019  Missioni  30934  ...    655,28    0,00    655,28
46               Missioni  31018  ...    483,21    0,00    483,21
47               Missioni  31096  ...  3.011,33    0,00  3.011,33
48               Missioni  31158  ...    124,40    0,00    124,40
55               Missioni  31477  ...    830,53    0,00    830,53
56   05/11/2019  Missioni  31553  ...  3.043,06    0,00  3.043,06
57   07/01/2019  Missioni  29181  ...      0,00    3,50      3,50
58   08/01/2019  Missioni  29209  ...      0,00   29,00     29,00
61               Missioni  29322  ...      0,00   55,93     55,93
64               Missioni  29560  ...      0,00  -24,40    -24,40
65               Missioni  29603  ...      0,00  -44,20    -44,20
71               Missioni  29805  ...      0,00  -13,70    -13,70
72   03/04/2019  Missioni  29882  ...      0,00   -0,50     -0,50
74               Missioni  30045  ...      0,00  -10,00    -10,00
75               Missioni  30146  ...      0,00  153,54    153,54
77               Missioni  30277  ...      0,00  -28,57    -28,57
79   02/06/2019  Missioni  30311  ...      0,00   -4,00     -4,00
80   12/06/2019  Missioni  30416  ...      0,00  -66,00    -66,00
81               Missioni  30472  ...      0,00  336,12    336,12
91               Missioni  30861  ...      0,00  -11,00    -11,00
92   03/09/2019  Missioni  30892  ...      0,00   -2,40     -2,40
96   05/09/2019  Missioni  30934  ...      0,00   35,60     35,60
98               Missioni  31018  ...      0,00   -5,75     -5,75
99               Missioni  31096  ...      0,00  386,28    386,28
100              Missioni  31158  ...      0,00  -55,80    -55,80

[40 rows x 11 columns]